div.lock{
    position: relative;
}

div.screen-lock{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #1b1e21;
    opacity: .1;
    z-index: 100;
}
